[submodule "lib/json-cpp/json-cpp"]
	path = lib/json-cpp/json-cpp
	url = https://github.com/open-source-parsers/jsoncpp.git
[submodule "lib/rapidjson"]
	path = lib/rapidjson
	url = https://github.com/miloyip/rapidjson.git
